# --- Kedro et Data Science ---
ipython>=8.10
jupyterlab>=3.0
kedro~=0.19.14
kedro-datasets[pandas]>=1.0.0,<2.0.0
pandas>=1.3
scikit-learn>=1.0,<2.0
numpy
matplotlib

# --- API (Flask) ---
flask>=2.0

# --- Tracking (MLflow) ---
mlflow>=2.0,<3.0
gunicorn

# --- Outils utiles ---
requests
